{;; (common:IDType([+]common:IDType)*)?([.](common:IDType([+]common:IDType)*)?)*
 :key-type "([\\w@\\$\\-]+(\\+[\\w@\\$\\-]+)*)?(\\.([\\w@\\$\\-]+(\\+[\\w@\\$\\-]+)*)?)*"
 ;; (common:NestedNCNameIDType\,)?(common:IDType)
 :provider-ref-type "([A-Za-z][\\w\\-]*(\\.[A-Za-z][\\w\\-]*)*(\\+[A-Za-z][\\w\\-]*(\\.[A-Za-z][\\w\\-]*)*)*\\,)?[\\w@\\$\\-]+(\\+[\\w@\\$\\-]+)*"
 ;; (common:IDType)|((common:NestedNCNameIDType)(\,common:IDType)(\,(latest|(common:VersionType)))?)
 :flow-ref-type "([\\w@\\$\\-]+(\\+[\\w@\\$\\-]+)*|([A-Za-z][\\w\\-]*(\\.[A-Za-z][\\w\\-]*)*(\\+[A-Za-z][\\w\\-]*(\\.[A-Za-z][\\w\\-]*)*)*(\\,[\\w@\\$\\-]+(\\+[\\w@\\$\\-]+)*)(\\,(all|latest|\\d+(\\.\\d+)*(\\+\\d+(\\.\\d+)*)*))?))"
 :all-type "all"
 :latest-type "latest"
 :id-type "[\\w@\\$\\-]+(\\.[\\w@\\$\\-]+)*"
 :nc-name-id-type "[A-Za-z][\\w\\-]*(\\.[A-Za-z][\\w\\-]*)*"
 :nested-nc-name-id-type "[A-Za-z][\\w\\-]*(\\.[A-Za-z][\\w\\-]*)*(\\+[A-Za-z][\\w\\-]*(\\.[A-Za-z][\\w\\-]*)*)*"
 :nested-id-type "[\\w@\\$\\-]+(\\.[\\w@\\$\\-]+)*(\\+[\\w@\\$\\-]+(\\.[\\w@\\$\\-]+)*)*"
 :version-type "\\d+(\\.\\d+)*"
 :multiple-versions-type "\\d+(\\.\\d+)*(\\+\\d+(\\.\\d+)*)*"
 :nested-version-type "(latest|all|\\d+(\\.\\d+)*(\\+\\d+(\\.\\d+)*)*)"
 :schema-version-type  "(latest|all|\\d+(\\.\\d+)*(\\+\\d+(\\.\\d+)*)*)"
 :detail-type ["allstubs" "referencestubs" "referencepartial" "allcompletestubs" "referencecompletestubs" "full"]
 :references-type ["none" "parents" "parentsandsiblings" "children" "descendants" "all"]
 :schema-context-type ["datastructure" "dataflow" "provisionagreement" "metadatastructure" "metadataflow"]
 :data-detail-type ["full" "dataonly" "serieskeysonly" "nodata"]
 :mode-type ["exact" "available"]
 :ac-references-type ["none" "all"]}
